<%- include("partials/header.ejs") %>

<h1>About Me</h1>
<img class="profile" src="images/Jackson-profile.jpg" alt="Jackson's profile">

<p><strong>Jackson</strong> - Web Developer, Sales Engineer, & Data Scientist.</p>
<p><strong>Skills:</strong> HTML, CSS, JavaScript, Python, C++ .</p>
<p><strong>Focus Areas:</strong> Creating customer based easy-to-use web applications.</p>
<h2>Key Projects</h2>

  <p><strong>FIFA World Cup Data Analysis App:</strong> Used machine learning to predict game results and study important factors.</p> 
 
  <p><strong>Hotel Finder Application:</strong> Built a tool to find hotels in different cities quickly using smart data structures.</p>

  



<h2>Background</h2>
<p>I study computer science at New York University and have worked on real projects like ChatBot Creation, website improvement, etc during internships. I love solving problems and making web experiences smooth and effective.</p>



<%- include("partials/footer.ejs") %>