</main>
<footer>
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <ul class="social_icon">
    <li><a href="https://github.com/Jackson-Mu"><ion-icon name="logo-github"></ion-icon></a></li>
    <li><a href="https://huggingface.co/spaces/JacksonMu/FIFA-World-Cup-2022-Data-Analysis"><img src="https://huggingface.co/front/assets/huggingface_logo-noborder.svg" alt="Hugging Face" style="width: 24px; height: 24px;"></a></li>
    <li><a href="https://share.streamlit.io/user/jackson-mu"><img src="https://streamlit.io/images/brand/streamlit-mark-color.png" alt="Streamlit" style="width: 24px; height: 24px;"></a></li>
  </ul>

  

  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <p class="copyright"> Made with ❤️ By Jackson in Kigali.</p>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>
